Naked === 0.1.32
PyYAML === 6.0.1
certifi === 2024.2.2
cffi === 1.16.0
charset-normalizer === 3.3.2
cryptography === 42.0.5
crypto === 1.4.1
idna === 3.7
pip === 23.2.1
pyasn1 === 0.6.0
pycparser === 2.22
requests === 2.31.0
rsa === 4.9
shellescape === 3.8.1
urllib3 === 2.2.1